.container{
    width: 80%;
    background-color: #026b1e;
    margin-left: 150px;
    display: flex;
    flex-wrap:wrap ;
}
.square{
    padding: 30px;
    margin-left: 50px;
}
img{
    object-fit: cover;
    float: left;
    filter: grayscale(100%);
}
img:hover{
    filter: grayscale(0);
    transition: ease-in 0.5s;
}